<!DOCTYPE html>
<html>
<head>
  <title>Odot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
	<h1><%= link_to "Odot", root_path %></h1><h3><%= link_to "Todo lists of the future!!!", root_path %></h3>
	<div class="nav"><ul>
	<li> <%= link_to "Todo Lists", todo_lists_path %></li>
	<% #if logged_in? %>
		<li> <%= link_to "Log Out", logout_path, method: :delete %></li>
		<% #else %>
		<li> <%= link_to "Log In", new_user_session_path %></li>
	<li><%= link_to "Sign Up", new_user_path %></li>
	<% #end %>
	
	</ul></div>
</div>

<div class="wrapper">

<% flash.each do |type, message| %>
<div class="alert flash <%= type %>">
	<%= message %>
</div>
<% end %>

<%= yield %>
</div>
<div class="footer"><h5>&copy; J Brennan International :P</h5></div>
</body>
</html>
